*.7z
*.bak
*.lnk
*.rar
*.stackdump
*.tar*
*.tmp
*.zip
*~

.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.com.apple.timemachine.donotpresent
.directory
.fseventsd
.fuse_hidden*
.nfs*

Icon
Network Trash Folder
Temporary Items
__macosx

$RECYCLE.BIN/
[Bb]ackup/
[Rr]elease/
[Tt]emp/
[Tt]mp/

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
!/bgt/[Dd]esktop.ini
setup-bgt.exe
