# Archives
*.7z
*.bz2
*.bzip
*.bzip2
*.gz
*.gzip
*.iemod
*.lz
*.lzma
*.rar
*.tar
*.tgz
*.txz
*.xar
*.xz
*.zip

# Backup
*.backup
*.bak
*.old
*.ori
*.orig
*.temp
*.tmp
[Bb]ackup/
[Tt]emp/
[Tt]mp/

# Build
*.debug
*.log
[Dd]ebug/
[Dd]ebugPublic/
[Ll]og/
[Ll]ogs/
[Rr]elease/
[Rr]eleases/

# Office
*.xlk
*.~vsd*
.~lock.*#
Backup of *.doc*
~$*.doc*
~$*.ppt*
~$*.xls*

# Linux
*~
.Trash-*
.directory
.fuse_hidden*
.nfs*

# macOS
*.icloud
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.com.apple.timemachine.donotpresent
.fseventsd
Icon
Network Trash Folder
Temporary Items

# WeiDU
[Ss]etup-*.exe

# Windows
$RECYCLE.BIN/
*.lnk
*.msix
*.stackdump
Thumbs.db
Thumbs.db:encryptable
[Dd]esktop.ini
ehthumbs.db
ehthumbs_vista.db
