# Don't add Git-related files to the exported source archives
.gitattributes export-ignore
.github        export-ignore
.gitignore     export-ignore

# Unix shell scripts require LF line ending
*.command text eol=lf
*.sh      text eol=lf

# Windows scripts require CR LF line ending
*.ahk  text eol=crlf
*.bat  text eol=crlf
*.cmd  text eol=crlf
*.ps1  text eol=crlf

# Store these text files with LF line ending in the repo object database
# Auto convert them to CR LF for working directories on Windows
*.2da  text
*.baf  text
*.bio  text
*.d    text
*.glsl text
*.gui  text
*.htm  text
*.html text
*.ids  text
*.ini  text
*.lua  text
*.md   text
*.menu text
*.mus  text
*.sql  text
*.tp2  text
*.tpa  text
*.tph  text
*.tpp  text
*.tra  text
*.txt  text
*.yaml text
*.yml  text

# Git-related metadata
.gitattributes text
.gitignore     text

# Compiled IE scripts require LF line ending
*.bcs  text eol=lf
*.bs   text eol=lf

# Treat these files as non-text and don't change the line ending
*.acm  binary
*.are  binary
*.bam  binary
*.bif  binary
*.bmp  binary
*.chr  binary
*.chu  binary
*.cre  binary
*.dlg  binary
*.dll  binary
*.eff  binary
*.exe  binary
*.fnt  binary
*.gam  binary
*.gif  binary
*.ico  binary
*.itm  binary
*.jpeg binary
*.jpg  binary
*.key  binary
*.mbc  binary
*.mos  binary
*.moz  binary
*.mve  binary
*.ogg  binary
*.plt  binary
*.png  binary
*.pro  binary
*.pvrz binary
*.sav  binary
*.spl  binary
*.sto  binary
*.tbc  binary
*.tis  binary
*.tiz  binary
*.tlk  binary
*.toh  binary
*.tot  binary
*.ttf  binary
*.vef  binary
*.vvc  binary
*.wav  binary
*.wbm  binary
*.webp binary
*.wed  binary
*.wfx  binary
*.wmp  binary
